@import '../../../assets/scss/partials/responsive';
@import '../../../assets/scss/partials/theme';

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color .5s ease, height .5s ease;

    &::after{
        content: "";
        width: 90%;
        height: 2px;
        background-color: $base-gray;
        position: absolute;
        bottom: 0;
        transition: background-color .5s ease;
    }

    &__logo {
        display: flex;
        align-items: center;

        .logo {
            color: $base-white;
            font-size: 30px;
            font-weight: bold;
            margin-right: 10px;

            span {
                color: $base-green;
            }
        }

        .lang {
            select {
                color: $base-white;
                outline: none;
                border: none;
                background: none;
                cursor: pointer;

                option {
                    color: $base-gray;
                }
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;       

        .nav-list {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            .nav-link {
                margin: 0 30px;
                text-decoration: none;
                color: $base-white;
                position: relative;

                &::after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $base-green;
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .5s ease;
                }

                &:hover::after{
                    transform: scaleX(1);
                }
            }

            .active {
                &::after{
                    transform: scaleX(1);
                }
            }
        }
    }

    &__btn {
        display: flex;

        .btn {
            cursor: pointer;
            height: 40px;
            width: 120px;
            border-radius: 20px;
            outline: none;
            border: none;
            padding: 0;
            border: 1px solid $base-green;
            transition: background-color .5s ease, color .5s ease;

            &--join {
                color: $base-white;
                background: none;
                margin-right: 10px;

                &:hover {
                    background: $base-green;
                }
            }

            &--sign-up {
                background: $base-green;
                color: $base-white;

                &:hover {
                    background: none;
                    color: $base-white;
                }
            }
        }
    }

    .hamburger {
        display: none;
        width: 40px;
        position: fixed;
        top: 5px;
        left: 5px;
        cursor: pointer;
        
        &:hover {
            span {
                background-color: rgb(66, 66, 66);
            }
        }
    
        span {
            background-color: $base-gray;
            height: 5px;
            border-radius: 5px;
            margin: 3px 0;
            transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

            &:nth-child(1) {
                width: 50%;
            }

            &:nth-child(2) {
                width: 100%;
            }

            &:nth-child(3) {
                width: 75%;
            }
        }
    }
    
    .open {
        span {
            &:nth-child(1) {
                transform-origin: left;
                transform: rotatez(45deg) translate(2px, -6px);
            }

            &:nth-child(2) {
                transform-origin: center;
                transform: rotatez(-45deg)
            }

            &:nth-child(3) {
                width: 50%;
                transform-origin: right;
                transform: translate(14px, 3px) rotatez(45deg);
            }
        }
    }    
}

.scroll-active {
    height: 50px;
    background-color: $base-white;
    box-shadow: 0 3px 1rem rgb(0 0 0 / 10%);

    &::after{
        background-color: $base-white;
    }

    .logo {
        color: $base-gray;
    }

    .lang {
        select {
            color: $base-gray;
        }
    }

    .nav-link {
        color: $base-gray !important;
    }

    .btn {
        &--join {
            color: $base-gray;

            &:hover {
                background: $base-green;
                color: $base-white;
            }
        }

        &--sign-up {
            background: $base-green;
            color: $base-white;
            
            &:hover {
                background: $base-white;
                color: $base-gray;
            }
        }
    }
}

@include screen(lg) {
    .header {
        padding: 0 2%;
        width: 96%;

        &__logo {
            .logo {
                font-size: 25px;
            }
        }
    
        &__nav {
            .nav-list {    
                .nav-link {
                    margin: 0 25px;
                }
            }
        }
    
        &__btn {
            .btn {
                cursor: pointer;
                width: 100px;
            }
        }
    }    
}

@include screen(md) {
    .header {
        flex-direction: column;
        justify-content: space-around;
        height: 100vh !important;
        background-color: $base-white !important;
        clip-path: circle(64px at 0 0);
        -webkit-clip-path: circle(64px at 0 0);
        transition: clip-path 1s ease-out, -webkit-clip-path 1s ease-out;

        &::after{
            background-color: $base-white;
        }

        .logo {
            color: $base-gray;
        }

        .lang {
            select {
                color: $base-gray;
            }
        }

        .nav-list {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50vh;

            .nav-link {
                color: $base-gray !important;
            }
        }

        .btn {
            &--join {
                color: $base-gray;

                &:hover {
                    color: $base-white;
                }
            }

            &--sign-up {
                background: $base-green;
                color: $base-white;
                
                &:hover {
                    color: $base-gray;
                }
            }
        }

        .hamburger {
            display: flex;
            flex-direction: column;
        }
    }

    .menu-open {
        clip-path: circle(1280px at 0 0);
        -webkit-clip-path: circle(1280px at 0 0);
    }
}

@include screen(sm) {
    .menu-open {
        clip-path: circle(1000px at 0 0);
        -webkit-clip-path: circle(1000px at 0 0);
    }
}