<header class="header" [ngClass]="{'scroll-active': !isTop, 'menu-open': isSideMenuOpen}">
    <div class="header__logo">
        <span class="logo"><span>find</span>Builder</span>
        <span class="lang">
            <select [(ngModel)]="defaultLang" (change)="onLanguageChange($event.target.value)">
                <option value="en">{{ 'header.lang.en' | transloco }}</option>
                <option value="si">{{ 'header.lang.si' | transloco }}</option>
            </select>
        </span>
    </div>
    <nav class="header__nav">
        <ul class="nav-list">
            <li>
                <a [routerLink]="['/home']" routerLinkActive="active" (click)="isSideMenuOpen = false"  class="nav-link">{{ 'header.nav.home' | transloco }}</a>
            </li>
            <li>
                <a [routerLink]="['/about']" routerLinkActive="active" (click)="isSideMenuOpen = false" class="nav-link">{{ 'header.nav.about' | transloco }}</a>
            </li>
            <li>
                <a [routerLink]="['/profile']" routerLinkActive="active" (click)="isSideMenuOpen = false" class="nav-link">{{ 'header.nav.profile' | transloco }}</a>
            </li>
        </ul>
    </nav>
    <div class="header__btn">
        <button class="btn btn--join" [routerLink]="['/register']" (click)="isSideMenuOpen = false">{{ 'header.btn.join' | transloco }}</button>
        <button class="btn btn--sign-up" [routerLink]="['/login']" (click)="isSideMenuOpen = false">{{ 'header.btn.singIp' | transloco }}</button>
    </div>
    <div class="hamburger" [ngClass]="{'open': isSideMenuOpen}" (click)="expandMenu();">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>